{% extends "base.haml" %}

{% block title %} | Blog Posts{% endblock %}

{% block content %}
	{% if latest_posts_list %}
		%section
			{% for post in latest_posts_list %}
				%article
					%h1
						%a{'href' : '{{ post.get_absolute_url_seo }}'}= post.title
					.info
						%span.date= post.pub_date
					.body
						%span.html= post.body_html|safe
			{% endfor %}
	{% endif %}
{% endblock %}
