Django==1.3.1
Markdown==2.0.3
PyYAML==3.10
South==0.7.3
djaml==1.0
django-extensions==0.7.1
-e git://github.com/kylegibson/django_settings_yaml.git@61236c220ee3d0774ebc08eb43f69975ee16d614#egg=django_settings_yaml-dev
django-tastypie==0.9.10
hamlpy==0.4
mimeparse==0.1.3
-e git://github.com/kylegibson/path.py.git@56a336674abf44d6c23f7a724aeccda7d22e9fce#egg=path.py-dev
pyparsing==1.5.6
pysqlite==2.6.3
python-dateutil==1.5
python-digest==1.7
scss==0.8.70
wsgiref==0.1.2
